@model ATS.Data.ViewModel.TimeSheetMasterViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Edit", "TimeSheet", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table class="table table-striped table-bordered table-hover">
        <tr>
            <td>
                @Html.HiddenFor(model => model.TimeSheetMasterId)
                @Html.DisplayFor(model => model.PersonPersonName)
                @Html.HiddenFor(model => model.PersonId)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.SupervisorPersonName)
                @Html.DisplayFor(model => model.SupervisorPersonName)
                @Html.HiddenFor(model => model.ManagerId)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.CompanyCompanyDescription)
                @Html.DisplayFor(model => model.CompanyCompanyDescription)
                @Html.DisplayFor(model => model.AgentPersonName)
                @Html.HiddenFor(model => model.AgencyId)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Month)
                @Html.DisplayFor(model => model.Month)
                @Html.HiddenFor(model => model.Month)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Year)
                @Html.DisplayFor(model => model.Year)
                @Html.HiddenFor(model => model.Year)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Status)
                @Html.HiddenFor(model => model.Status)
                @Html.DropDownListFor(model => model.Status, new SelectList(ViewBag.StatusList, "Value", "Text"),new { disabled = "disabled" })
            </td>
            <td>
                @Html.HiddenFor(model => model.Remarks)
            </td>
        </tr>
    </table>
    
    <fieldset>
        <legend>TimeSheetDetail</legend>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>
                    @Html.Label("Date", new { @class = "control-label" })
                </th>
                <th>
                    @Html.Label("Start Time", new { @class = "control-label" })
                </th>
                <th>
                    @Html.Label("End Time", new { @class = "control-label" })
                </th>
                <th>@Html.Label("Leave Category", new { @class = "control-label" })</th>
                <th>
                    @Html.Label("Remarks", new { @class = "control-label" })
                </th>
                <th>
                    @Html.Label("Supporting Documents", new { @class = "control-label" })
                </th>

                <th></th>
            </tr>
            @for (int i = 0; i < Model.TimeSheetDetailViewModel.Count; i++)
            {
                
                <tr>
                    <td>
                        @Html.HiddenFor(model => Model.TimeSheetDetailViewModel[i].TimeSheetMasterId)
                        @Html.HiddenFor(model => Model.TimeSheetDetailViewModel[i].TimeSheetDetailId)
                        @Html.DisplayFor(model => Model.TimeSheetDetailViewModel[i].TimeSheetDate)
                        @Html.HiddenFor(model => Model.TimeSheetDetailViewModel[i].TimeSheetDate)
                    </td>
                    <td>@Html.EditorFor(model => Model.TimeSheetDetailViewModel[i].StartTime)
                        @Html.ValidationMessageFor(model => Model.TimeSheetDetailViewModel[i].StartTime)</td>
                    <td>
                        @Html.EditorFor(model => Model.TimeSheetDetailViewModel[i].EndTime)
                        @Html.ValidationMessageFor(model => Model.TimeSheetDetailViewModel[i].EndTime)
                    </td>
                    <td>@Html.DropDownListFor(model => Model.TimeSheetDetailViewModel[i].LeaveCategoryId, (SelectList)Model.TimeSheetDetailViewModel[i].LeaveCategories,"")</td>
                    <td>@Html.EditorFor(model => Model.TimeSheetDetailViewModel[i].Remarks)</td>
                    <td>@Html.TextBoxFor(model => Model.TimeSheetDetailViewModel[i].SupportDocumentUpload1, new { type = "file" })
                        <br />
                        @Html.TextBoxFor(model => Model.TimeSheetDetailViewModel[i].SupportDocumentUpload2, new { type = "file" })
                        <br />
                        @Html.TextBoxFor(model => Model.TimeSheetDetailViewModel[i].SupportDocumentUpload3, new { type = "file" })
                    </td>
                </tr>
            }
        </table>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
