@model IEnumerable<ATS.Data.Model.TimeSheetDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeSheetMasterId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalendarYearId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupportDocument1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupportDocument2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupportDocument3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimeSheetMasterId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalendarYearId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveCategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupportDocument1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupportDocument2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupportDocument3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TimeSheetDetailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TimeSheetDetailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TimeSheetDetailId })
        </td>
    </tr>
}

</table>
