@model IEnumerable<ATS.Data.Model.TimeSheetMaster>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayName("Person Name")
        </th>
        <th>
            @Html.DisplayName("Supervisor")
        </th>
        <th>
            @Html.DisplayName("Agent")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string textToShow = "";
        switch (item.Status)
        {
            case 0:
                textToShow = "Draft";
                break;
            case 1:
                textToShow = "Approved";
                break;
            case 2:
                textToShow = "Submitted";
                break;
            case 3:
                textToShow = "Rejected";
                break;
            default:
                textToShow = "No Status Available";
                break;
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supervisor.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agent.PersonName)
            </td>
            <td>
                @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @textToShow
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @if (item.Status == Convert.ToInt32(ATS.Data.DAL.TimeSheetStatus.Draft) || item.Status == Convert.ToInt32(ATS.Data.DAL.TimeSheetStatus.Rejected))
                {
                    @Html.ActionLink("Edit", "Edit", new { id=item.TimeSheetMasterId })
                    @Html.ActionLink("Delete", "Delete", new { id = item.TimeSheetMasterId })
                }
                    
                    @Html.ActionLink("View", "Details", new { id = item.TimeSheetMasterId })
            </td>
        </tr>
    }

</table>

