@model IEnumerable<ATS.Data.Model.TimeSheetMaster>

@{
    ViewBag.Title = "View Timesheet";
}

<h2>Reminder</h2>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgencyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string textToShow = "";
        switch (item.Status)
        {
            case 0:
                textToShow = "Draft";
                break;
            case 1:
                textToShow = "Approved";
                break;
            case 2:
                textToShow = "Submitted";
                break;
            case 3:
                textToShow = "Rejected";
                break;
            default:
                textToShow = "No Status Available";
                break;
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supervisor.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agent.PersonName)
            </td>
            <td>
                @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @textToShow
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @if (item.Status == Convert.ToInt32(ATS.Data.DAL.TimeSheetStatus.Draft))
                {
                    @Html.ActionLink("Send Reminder To Staff", "SendReminder", new { id = item.TimeSheetMasterId }, new { @class = "btn btn-mini btn-primary" })
                }
                else if (item.Status == Convert.ToInt32(ATS.Data.DAL.TimeSheetStatus.Submitted))
                {
                    @Html.ActionLink("Send Reminder To Supervisor", "SendReminder", new { id = item.TimeSheetMasterId }, new { @class = "btn btn-mini btn-info" })
                }
            </td>
        </tr>
    }

</table>
