@model ATS.Data.Model.RegisterModel
@{
    ViewBag.Title = "Add Staff";
}


@using (Html.BeginForm("AddStaff", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
{
@*@Html.AntiForgeryToken()*@
    
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Add Staff</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
            <div class="controls">
                @if (Model == null)
                {
                    @Html.EditorFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName, null, new {@class="badge badge-important"})
                }
                else
                {
                    @Html.HiddenFor(m => m.UserName);
                    @Html.TextBoxFor(m => m.UserName, new { disabled = "disabled", @readonly = "readonly" })
                }
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.FullName, new { @class = "control-label" })
            <div class="controls">
                @if (Model == null)
                {
                    @Html.EditorFor(m => m.FullName)
                    @Html.ValidationMessageFor(m => m.FullName, null, new {@class="badge badge-important"})
                }
                else
                {
                    @Html.HiddenFor(m => m.FullName);
                    @Html.TextBoxFor(m => m.FullName, new { disabled = "disabled", @readonly = "readonly" })
                }
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.RoleName, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(m => m.RoleName, ViewBag.myList as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RoleName, null, new {@class="badge badge-important"})
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.SupervisorName, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(m => m.SupervisorName, ViewBag.Supervisors as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SupervisorName, null, new {@class="badge badge-important"})
            </div>
        </div>
                <div class="control-group">
            @Html.LabelFor(m => m.AgentName, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(m => m.AgentName, ViewBag.Agents as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AgentName, null, new {@class="badge badge-important"})
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" name="btnAdd" value="Add" class="btn btn-primary"/>
            </div>
        </div>

        <table class="table table-striped table-bordered table-hover">
            <colgroup>
                <col style="width:10%">
                <col style="width:40%">
                <col style="width:40%">
                <col style="width:10%">
            </colgroup>
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Full Name</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Users != null)
                {
                    foreach (var item in ViewBag.Users)
                    {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.FullName</td>
                        @*<td>@Html.ActionLink("Edit", "UpdateUser", "Admin", new { userId = item.UserId }, new { @class = "btn btn-mini btn-primary" })
                           <input type="button" id="btnDeleteUser" class="btn btn-mini btn-danger cssDeleteUser" value="Delete" data-id="@item.UserName"/>
                        </td>*@
                    </tr>
                    }
                }
            </tbody>
        </table>

        @*<div class="control-group">
            <div class="controls">*@
                @Html.ActionLink("Back", "AddAgent", "Admin", null, new { @class = "btn" })
                @*<input type="submit" name="prevBtn" value="Back" class="btn "/>*@
                <input type="submit" name="finishBtn" value="Finish" class="btn btn-success"/>
            @*</div>
        </div>*@
    </fieldset>
}

<script src="~/Scripts/validation.js" type="text/javascript"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



