@model ATS.MVC.UI.Models.RegisterModel
@{
    ViewBag.Title = "Manage User";
}

<h3>Manage User</h3>
<hr />

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" })) {
    @*@Html.AntiForgeryToken()*@
    
    @Html.ValidationSummary(true)
        <div class="control-group">
            @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
            <div class="controls">
                @if (Model == null) {
                    @Html.EditorFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                } else {
                    @Html.HiddenFor(m => m.UserName);
                    @Html.TextBoxFor(m => m.UserName, new { disabled = "disabled", @readonly = "readonly" })
                }
            </div>
        </div>
        if (Model == null) {
        <div class="control-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        }
        <div class="control-group">
            @Html.LabelFor(m => m.RoleName, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(m=> m.RoleName, ViewBag.myList as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RoleName)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
              <input type="submit" value="Save" class="btn btn-primary" />
             @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
            </div>
        </div>

}

<script src="~/Scripts/validation.js" type="text/javascript"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



