@model IEnumerable<ATS.Data.Model.LeavePlan>

@{
    ViewBag.Title = "Index";
}

<div>
    <br />
    <p>
        @Html.ActionLink("View Team Leaves", "Team", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Go To Webforms Report", "OpenReport", null, new { @class = "btn" })
    </p>
    <br />
</div>

<link rel="stylesheet" href="~/Content/fullcalendar.css" />
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/fullcalendar.js"></script>
<div id="calendar"></div>
<script type="text/javascript">
    $(document).ready(function () {

        var leaves = [];
        @foreach (var item in Model)
        {
            @:leaves.push({ start: "@String.Format("{0:yyyy-MM-dd}", item.StartDate)", end: "@String.Format("{0:yyyy-MM-dd}", item.EndDate.AddHours(24))", title: "@item.Person.PersonName.ToString() @item.LeaveCategory.LeaveCategoryDesc", url: "@String.Format("/Calendar/MyDetail/{0}/{1}", item.StartDate.Year, item.StartDate.Month)" });
        }

        $('#calendar').fullCalendar({
            events: leaves
        })

    });
</script>
