@model IEnumerable<ATS.Data.Model.LeavePlan>

@{
    ViewBag.Title = "Team";
}

<div id="datepicker" style="font-size:150%">
    <h3>Team Leaves...</h3>
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
</div>
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var beginDates = [];
        var endDates = [];
        var types = [];
        @foreach (var item in Model)
        {
            @:beginDates.push("'@String.Format("{0:MM/dd/yyyy}",item.StartDate)'");
            @:endDates.push("'@String.Format("{0:MM/dd/yyyy}",item.EndDate)'");
            @:types.push("@(item.LeaveCategory.LeaveCategoryDesc)");
        }

        $("#datepicker").datepicker({
            beforeShowDay: highlightDays,
            onSelect:getDetails
        });

        function highlightDays(date) 
        {
            for (var i = 0; i < beginDates.length; i++) {
                if ((new Date(beginDates[i]) <= date) && 
                    (new Date(endDates[i]) >= date) ) {
                    return [true, 'ui-state-active', types[i]];
                }
            }
            return [false, ''];
        }

        function getDetails(date, instance) 
        { 
            //window.location.replace("/Calendar/Detail/"+date);
            window.location.replace("/Calendar/Team");

        }

    });
</script>

<div>
    <br />
    <p>
        @Html.ActionLink("View My Leaves", "Index", null, new { @class = "btn btn btn-primary" })
    </p>
</div>