@model ATS.Data.Model.Supervisor

@{
    ViewBag.Title = "Assign Staff";
}
<div class="row">
    <div class="span12">
    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="divider">/</span></li>
      <li>@Html.ActionLink("Supervisor", "Index")  <span class="divider">/</span></li>
      <li>@Html.DisplayFor(model => model.PersonName) <span class="divider">/</span></li>
      <li class="active">Assign Staffs</li>
    </ul>
    </div>
</div>
<div class="row">
    <div class="span12">
        <h3>Assign Staffs under @Html.DisplayFor(model => model.PersonName)</h3>
    </div>
</div>
<div class="row">
    <div class="span4">
        <h4>Assigned Staffs</h4>
        <div class="editor-field"> 
            @Html.ListBox("AssignedStaffs", ViewBag.AssignedStaffs as MultiSelectList, 
                   new { @class = "chzn-select", data_placeholder = "Choose  Staff...",style="min-height:360px;", id="assignedStaffs" }) 
        </div>
    </div>
    <div class="span4" style="vertical-align:middle;text-align:center;">
        <br /><br /><br />
        <p>
        <button id="btnAdd" class="btn btn-primary" style="width:150px;"> << Add </button><br /><br />
        <button id="btnAddAll" class="btn btn-primary" style="width:150px;"> << Add All </button><br /><br />
        <button id="btnRemove" class="btn btn-primary" style="width:150px;"> Remove >> </button><br /><br />
        <button id="btnRemoveAll" class="btn btn-primary" style="width:150px;"> Remove All >> </button><br /><br />
         </p>
         <p><button class="btn btn-warning" style="width:150px;">Save</button></p>
    </div>
    <div class="span4">
        <h4>Available Staffs</h4>
        <div class="editor-field"> 
            @Html.ListBox("AvailableStaffs", ViewBag.AvailableStaffs as MultiSelectList, 
                   new { @class = "chzn-select", data_placeholder = "Choose  Staff..." ,style="min-height:360px;", id="availableStaffs"}) 
        </div>
    </div>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PersonId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnAdd").click(function () {
                $("#availableStaffs option:selected").remove().appendTo("#assignedStaffs");
            });

            $("#btnAddAll").click(function () {
                $("#availableStaffs option").remove().appendTo("#assignedStaffs");
            });

            $("#btnRemove").click(function () {
                $("#assignedStaffs option:selected").remove().appendTo("#availableStaffs");
            });

            $("#btnRemoveAll").click(function () {
                $("#assignedStaffs option").remove().appendTo("#availableStaffs");
            });

            $("#btnSave").click(function () {
                var assignedStaffIds = []
                var availableStaffIds = []
                $("#assignedStaffs option").each(function (index, option) {
                    //append to the array
                    assignedStaffIds.push($(option).val());
                });
                $("#availableStaffs option").each(function (index, option) {
                    //append to the array
                    availableStaffIds.push($(option).val());
                });
                
                $.post("", { 'assignedStaffIds': assignedStaffIds.join(','), 'availableStaffIds': availableStaffIds.join(',') }, function (data) {
                    if (data) {
                        if (data.code == 1) {
                            alert("Saved Successfully!");
                        } else {
                            alert("Error");
                        }
                    } else {
                        alert("No Result");
                    }
                });

            });

        });

    </script>
}