@model IEnumerable<ATS.Data.Model.Supervisor>

@{
    ViewBag.Title = "Index";
}

<hgroup class="title">
    <h3>Maintain Supervisor</h3>
</hgroup>
<hr/>
<p>
    @Html.ActionLink("Add New", "Create", "Supervisor",null,new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PersonId)</th>
            <th>@Html.DisplayNameFor(model => model.PersonName)</th>
            <th>@Html.DisplayNameFor(model => model.AgentId)</th>
            <th>@Html.DisplayNameFor(model => model.CompanyId)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.PersonId)</td>
            <td>@Html.DisplayFor(modelItem => item.PersonName)</td>
            <td>@Html.DisplayFor(modelItem => item.AgentId)</td>
            <td>@Html.DisplayFor(modelItem => item.Company.CompanyDescription)</td>
            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
            
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.PersonId }, new { @class = "btn btn-mini btn-primary" })
                @Html.ActionLink("Details", "Details", new { id=item.PersonId },new { @class = "btn btn-mini btn-primary" }) 
                @Html.ActionLink("Delete", "Delete",new { id = item.PersonId },new { @class = "btn btn-mini btn-danger" })
            </td>
        </tr>
        }
        </tbody>
</table>