@model ATS.MVC.UI.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    
</hgroup>
<hr />

<section id="loginForm">
<div class="form-horizontal">
@using (Html.BeginForm(new {  ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend><h3>@ViewBag.Title.</h3></legend>
        <p><h5>Admin account: admin/password</h5></p>
        <div class="control-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                @Html.LabelFor(m => m.RememberMe, new { @class = "control-label" })
                @Html.CheckBoxFor(m => m.RememberMe)
            
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Log in" class="btn btn-primary" />
            </div>
        </div>
    </fieldset>
    @*<p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>*@
}
    </div>
</section>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
