@model ATS.Data.Model.TimeSheetMaster

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TimeSheetMaster</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonId, "Person", new { @class = "control-label" })
        </div>
        <div class="editor-field">
            @Html.DropDownList("PersonId", String.Empty)
            @Html.ValidationMessageFor(model => model.PersonId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ManagerId, "Supervisor", new { @class = "control-label" })
        </div>
        <div class="editor-field">
            @Html.DropDownList("SupervisorId", String.Empty)
            @Html.ValidationMessageFor(model => model.ManagerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AgencyId, "Company", new { @class = "control-label" })
        </div>
        <div class="editor-field">
            @Html.DropDownList("CompanyId", String.Empty)
            @Html.ValidationMessageFor(model => model.AgencyId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Month)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Month)
            @Html.ValidationMessageFor(model => model.Month)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
