@model ATS.Data.Model.Staff

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Staff</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AgentId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgentId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SupervisorId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SupervisorId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PersonName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PersonName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HomeAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HomeAddress)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
