@model ATS.Data.Model.LeavePlan

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "createForm", id = "createForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>LeavePlan</legend>

        @Html.HiddenFor(model => model.LeavePlanId)
        
        <div class="editor-label">
            @*@Html.LabelFor(model => model.PersonId, "Person", new { @class = "control-label" })*@
        </div>
        <div class="editor-field">
            @*@Html.DropDownList("PersonId")
            @Html.ValidationMessageFor(model => model.PersonId)*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LeaveCategoryId, "LeaveCategory", new { @class = "control-label" })
        </div>
        <div class="editor-field">
            @Html.DropDownList("LeaveCategoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.LeaveCategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Duration, new { @class = "control-label" })
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Duration)
            @Html.ValidationMessageFor(model => model.Duration)
        </div>

        <p>
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
            <img src="~/Content/img/ajax-loader.gif" style="display: none" id="Progress" />
            <div id="info"></div>
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {


            //Date.bizdays = function (d1, d2) {
            //    var bd = 0, dd, incr = d1.getDate();
            //    while (d1 < d2) {
            //        d1.setDate(++incr);
            //        dd = d1.getDay();
            //        if (dd % 6)++bd;
            //    }
            //    return bd;
            //}


            Date.bizdays = function (d1, d2) {
                var bd = 0;
                var dd = 0;
                var next = d1;
                while (next <= d2) {
                    dd = next.getDay();
                    if (dd % 6) { ++bd; }
                    next = new Date(next.getTime() + 86400000);
                }
                return bd;
            }



            $('#StartDate').datepicker();
            $('#EndDate').datepicker();

            $('#LeaveCategoryId').val('1');


            $("#StartDate").change(function () {

                var dateStart = new Date($('#StartDate').val());
                var dateEnd = new Date($('#EndDate').val());

                var duration = Date.bizdays(dateStart, dateEnd);

                if (duration == 0) {
                    $('#EndDate').val($('#StartDate').val());
                    if (dateStart.getDay() % 6 ) {
                        duration = 1;
                    }
                }

                $('#Duration').val(duration);

            });

            $("#EndDate").change(function () {

                var dateStart = new Date($('#StartDate').val());
                var dateEnd = new Date($('#EndDate').val());

                var duration = Date.bizdays(dateStart, dateEnd);

                if (duration == 0) {
                    $('#EndDate').val($('#StartDate').val())
                    if (dateStart.getDay() % 6) {
                        duration = 1;
                    }
                }

                $('#Duration').val(duration);

            });

            $("#Duration").change(function () {

                var dateStart = new Date($('#StartDate').val());
                var dateEnd = new Date($('#EndDate').val());

                var duration = Date.bizdays(dateStart, dateEnd);

                $('#Duration').val(duration);

            });

            $("#LeaveCategoryId").change(function () {
                if ($('#LeaveCategoryId').val() == "") {
                    $('#LeaveCategoryId').val('1');
                }
            });

            $('#createForm').submit(function (e) {

                e.preventDefault();
                var form = $(this);

                if (!form.valid()) return false;

                $("#Progress").show();
                $("#info").hide();

                var stt = new Date($('#StartDate').val());
                var end = new Date($('#EndDate').val());
                var dr = $('#Duration').val();
                var ctg = $('#LeaveCategoryId').val();
                var lpid = $('#PersonId').val();

                request = $.ajax({
                    type: 'POST',
                    url: '/LeavePlan/Create',
                    //data: form.serialize(),
                    data: {
                        LeaveCategoryId: ctg,
                        StartDate: stt.getDate() + "/" + (stt.getMonth() + 1) + "/" + stt.getFullYear(),
                        EndDate: end.getDate() + "/" + (end.getMonth() + 1) + "/" + end.getFullYear(),
                        Duration: dr,
                        PersonId: lpid
                    },
                    success: function (response) {
                        $("#info").html(response);
                    }
                });

                request.done(function (response, textStatus, jqXHR) {
                    if (response == "True") {
                        $('#info').html("Successfully Done.");
                        $('#info').show(500);
                    }
                    else if (response == "False") {
                        $('#info').html("could not be done. try again in a few minutes please.");
                        $('#info').slideDown(500);
                    }
                    else {
                        $('#info').html(response);
                        $('#info').slideDown(500);
                    }
                });

                request.fail(function (jqXHR, textStatus, errorThrown) {
                    $('#info').html("could not be done. try again in a few minutes please.");
                    $('#info').slideDown(500);
                });

                request.always(function () {
                    $("#Progress").hide();
                });
            });
        });
    </script>
}
