@model ATS.Data.Model.LeavePlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LeavePlan</legend>

    <div class="display-label">
         <strong>@Html.DisplayNameFor(model => model.Person.PersonName)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.PersonName)
    </div>
    <br />
    <div class="display-label">
         <strong>@Html.DisplayNameFor(model => model.LeaveCategory.LeaveCategoryDesc)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LeaveCategory.LeaveCategoryDesc)
    </div>
    <br />
    <div class="display-label">
         <strong>@Html.DisplayNameFor(model => model.StartDate)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>
    <br />
    <div class="display-label">
         <strong>@Html.DisplayNameFor(model => model.EndDate)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>
    <br />
    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => model.Duration)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>
</fieldset>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LeavePlanId },new { @class = "btn btn-success" })
    @Html.ActionLink("Back to List", "Index",null,new { @class = "btn " })
</p>
