@model IEnumerable<ATS.Data.Model.LeavePlan>

@{
    ViewBag.Title = "Supervise";
}

<h2>Supervise</h2>

<h2>Index</h2>

<p>
</p>
<div id="supervisePartial">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person.PersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveCategory.LeaveCategoryDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="tr-@item.LeavePlanId">
                <td>
                    @Html.DisplayFor(modelItem => item.Person.PersonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveCategory.LeaveCategoryDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    <a class="btn btn-mini btn-success admit" leaveId="@item.LeavePlanId">Admit</a>
                    <a class="btn btn-mini btn-danger reject" leaveId="@item.LeavePlanId">Reject</a>
                    <img src="~/Content/img/ajax-loader.gif" style="display:none" id="Progress-@item.LeavePlanId"/>
                </td>

            </tr>

        }

    </table>
    <div id="info" style="display: none"></div>

    <div id="divDeleteOAModel" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Object Access</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this record?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="btnDeleteOAOk" type="button" class="btn btn-danger">Ok</button>
                </div>
            </div>
        </div>
    </div>


</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {

            var idx = 0;
            $('.btn.admit').click(function () {

                idx = $(this).attr('leaveId');
                $("#Progress-" + idx).show();
                $('#info').hide(500);

                request = $.ajax({
                    url: "/leaveplan/AdmitOrReject?LeavePlanId=" + idx + "&AdmitReject=True",
                    type: "post"
                });

                request.done(function (response, textStatus, jqXHR) {
                    if (response) {
                        $("#tr-" + idx).hide(1000);
                        $('#info').html("Successfully Admitted.");
                        $('#info').show(500);
                    }
                });

                request.fail(function (jqXHR, textStatus, errorThrown) {
                    $('#info').html("could not be done. try again in a few minutes please.");
                    $('#info').slideDown(500);
                });

                request.always(function () {
                    $("#Progress-" + idx).hide(1000);
                });
            });

            $('.btn.reject').click(function () {
                idx = $(this).attr('leaveId');
                $("#divDeleteOAModel").modal("show");
            });


            $("#btnDeleteOAOk").click(function () {

                $("#divDeleteOAModel").modal("hide");

                $("#Progress-" + idx).show();
                $("#Progress-" + idx).show();
                $('#info').hide(500);

                request = $.ajax({
                    url: "/leaveplan/AdmitOrReject?LeavePlanId=" + idx + "&AdmitReject=False",
                    type: "post"
                });

                request.done(function (response, textStatus, jqXHR) {
                    if (response) {
                        $("#tr-" + idx).hide(1000);
                        $('#info').html("Successfully Rejected.");
                        $('#info').show(500);
                    }
                });

                request.fail(function (jqXHR, textStatus, errorThrown) {
                    $('#info').html("could not be done. try again in a few minutes please.");
                    $('#info').slideDown(500);
                });

                request.always(function () {
                    $("#Progress-" + idx).hide(1000);
                });
            });

        });
    </script>
}
